# .env.example
# Mínimo 32 caracteres. Debe ser el mismo para todos los servicios.
JWT_SECRET=cambia_esto_por_un_secreto_largo_de_mas_de_32_caracteres

# PostgreSQL (docker-compose)
POSTGRES_USER=ecommerce_user
POSTGRES_PASSWORD=ecommerce_pass

# Administrador inicial de usuario-api (opcional)
ADMIN_EMAIL=admin@ecommerce.com
ADMIN_PASSWORD=cambia_esta_password
